div{display: inline:block;
}

H1{color:#000000;
      font-family: Copperplate;
      Margin: 10px;
    padding: 10px;
      
}

section{ height: 200px;}  
    



H2{
Color:#0000FF;
background-color: #8ce0bf;


Font-variant: small-caps;
}
body{
      background-color: #e9e5b657;
}
      
