
H1{color:#000000;
      font-family: Copperplate;
      font-size:30px;
      Margin: 10px;
      padding: 10px;     
}

.header-section {
    display: flex;
    flex-wrap: wrap;
}

.header-section > div {
    width: calc(100% / 3);
}

@media (max-width: 768px) {
    .header-section > div {
        width: 100%;
        text-align: center;
    }
}

H2{
      Color:#000000;
      background-color: #afd69b;
      font-size:30px;
      text-align:center;
      Font-variant: small-caps;
}

body{
      background-color: #e9e5b657;
}

section{
      width:"100%";
      text-align:center;
      font:strong;
      font-size:30px;
}    
 
#who{
      width:"60%";
}
           
div{
      font-size:20px;
      text-align:center;
}

#portfolio{
      display:inline-block;
}

img{ 
      border: 2px #afd69b solid;  
      padding: 5px; 
}

.aboutme{
      background-image: url('https://github.com/lriveran/lriveran.github.io/blob/main/IMG_1214.jpeg?raw=true');
      background-color:#8fb6ab;
      opacity: 0.75;   
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      text-align:"70%";
}

footer{
      text-align:center;
}
