header{display: inline:block;
      overflow: auto;
      height:300px;
}

H1{color:#000000;
      font-family: Copperplate;
      Margin: 10px;
    padding: 10px;
      
}
div{height: 200px;
      float:left;}

header h1{ height: 200px;
margin:10px;
padding: 10px;
}  
    
header img{height: 200px;
margin:10px;
padding: 10px;
      float:right;}



H2{
Color:#0000FF;
background-color: #8ce0bf;


Font-variant: small-caps;
}
body{
      background-color: #e9e5b657;
}
      
